@charset "utf-8";

@font-face {
    font-family: "Indie Flower";
    src: url(IndieFlower.woff2);
}
body {
    background-color:rgb(199, 128, 128)	;
}

h1 {
    color: #0C3FE7;
    background-color: black;
    font-family: "Indie Flower",cursive;
}
p {
    color: #D10A0A;
    background-color: #F5F104;
}