@charset "utf-8";

/* By Jose*/

html{
    background-color:rgb(138, 103, 92);
    color:white;
    margin-left: 15%;
    margin-right: 15%;
    font-family: sans-serif;
}

p{
    font-size: 150%;
}

h1{
    text-align: center;
}