@charset "utf-8";

body{
    background-color: hsl(154, 50%, 30%);
    font-family: sans-serif;
    font-size: 125%;
}

h1{
    color:white;
    text-transform: uppercase;
    text-shadow: 5px 5px black;
    text-align: left
}
p{
    text-align: justify;
}

p.biografia{
    border: black 10px solid;
    border-radius: 30px;
    padding: 20px;
    margin-left: 25%;
    margin-right:25%;
    background-color: white;

}

p.estilo-1{
    background-color: hsl(17, 50%, 45%);
    border: hsl(17, 100%, 25%) 20px solid;
    color:white;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    padding: 10px;
    margin-right:50%;

}

p.estilo-2{
    background-color: hsl(34, 50%, 45%);
    border:hsl(34, 100%, 25%) 15px solid;
    color:white;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    padding: 5px;
    margin-left:50%;
}

p.estilo-3{
    background-color: hsl(207, 100%, 25%);
    border: hsl(207, 50%, 45%) 5px dashed;
    color:white;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
}