@charset "utf-8";

body{
    font-family:sans-serif;
    background-color:hsl(0, 0%, 80%);
    font-size: 150%;
}

H1{
    text-align: center;
    margin-top: 0%;
}

p:hover{
    z-index:100;
}


p#Naranja{
    background-color:#FFD580;
    border: #7D6536 2px solid;
    position: absolute;
    margin-top: -0.5%;
    margin-left: 9.5%;
    padding: 1%;
    width: 80%;
    height:9%;
    text-align: center;
}

p#Amarillo{
    background-color: #FFFF80;
    border:#D6D643 3px solid;
    position: absolute;
    margin-top: 10%;
    padding:1%;
    height:22%;
    width: 35%;
    margin-left:5%;
}

p#Azul{
    background-color: #CCFFFF;
    border: #9FC6C6 3px solid;
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    width: 35%;
    height: 22%;
    padding: 1%;
}

p#Morado{
    background-color:#FFE6FF;
    border: #BEA7BE 3px solid;
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
    width: 35%;
    height: 22%;
    padding: 1%;
}

p#Salmon{
    background-color:#FFB3B3;
    border:#846262 3px solid;
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    height: 22%;
    width: 35%;
    padding: 1%;
}

p#Verde{
    background-color:#80FF80;
    border:#367D36 3px solid;
    position: absolute;
    margin-top: 20%;
    padding: 1%;
    margin-left: 28%;
    width: 35%;
    height: 30%;
    z-index: 1;
}